/*секция, блок digits*/
.digits {
	padding: 100px 0;
}

.section-title {
	width: 60%;
	margin: 0 auto 20px;
	text-align: center;
	font-size: 60px;
	line-height: 1.15;
	font-weight: 600;
}

.section-subtitle {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	line-height: 34px;
	font-weight: 400;
}

.subtitle_offset-s {
	margin-bottom: 60px;
}

.table {
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
}

.table__row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.table__row:not(:last-child) {
	margin-bottom: 60px;
}

.table__cell {
	width: 250px;
}

.table__heading {
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 1.15;
	font-weight: 600;
}

.table__text {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 400;
}

.table__text:not(:last-child) {
	margin-bottom: 20px;
}