/*секция, блок kaufman*/
.kaufman {
	background-color: #1f1f1f;
	padding: 90px 0;
	color: #fff;
	position: relative;
	overflow: hidden;
}

.kaufman img {
	width: 877px;
	height: 877px;
	position: absolute;
	top: 0;
	right: -210px;

}

.subtitle_offset-m {
	margin-bottom: 80px;
}

.table__row_theme_dark:not(:last-child) {
	margin-bottom: 80px;
}

.table__cell_theme_dark {
	width: 200px;
}