.resources {
	max-width: 1100px;
	padding: 100px 0 217px;
	margin: 0 auto;
}

.resources__logo-zone {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.resources__link img {
	width: 270px;
	height: 38px;
}